html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/ron.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px;
}

header, main, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

footer { 
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: left;
    padding-left: 0px;
}

article {
    padding: 3em;
    font-size: 32px;
    overflow-wrap: normal;
    width: 420px;
    height: 320px;
}

#quote-ok {
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#quote-bad {
    color: red;
    font-weight: 1000;
    font-style: italic;
    font-family: 'Tangerine', serif;
    text-shadow: 2px 2px 2px #000;
}

footer > p {
    font-style: italic;
    padding-left: 20px;
}


#quote-button {
    background-color: lightblue;
    border-color: black;
    border-radius: 20px;
    margin-left: 240px;
    padding: 5px 20px;
}

#quote-button:hover {
    cursor: pointer;
}