body {
    background-image: url("../images/ron.jpg");
    max-width: 100%;
    height: auto;
}

article {
    padding: 3em;
    font: Arial;
    font-size: 32px;
    overflow-wrap: normal;
    width: 320px;
}

#quote-ok {
    color: black;
}

#quote-bad {
    color: red;
    font-weight: 1000;
    font-style: italic;
}

footer > span {
    background-color: lightgray;
    padding: 0.5em 0.5em;
}